{
    "Version": "2012-10-17",
    "Statement": [

        {
            "Sid": "TestAccess",
            "Effect": "Allow",
            "Action": [
                "s3:*",
                "logs:*"
            ],
            "Resource": "*"
        },
        {
            "Sid": "STSAssume",
            "Effect": "Allow",
            "Action": "sts:AssumeRole",
            "Resource": ${jsonencode(roles_can_assume)}
        }
    ]
}
