{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "KMSAccess",
            "Effect": "Allow",
            "Action": [
                "kms:Encrypt",
                "kms:Decrypt",
                "kms:GenerateDataKey"
            ],
            "Resource": [
                "*",
                "arn:aws:kms:eu-west-2:454286877087:key/e079adef-d0a8-4f7e-ad09-80957f8fba5a"
            ]
        },
        {
            "Sid": "SNSAccess",
            "Effect": "Allow",
            "Action": [
                "sns:Subscribe",
                "sns:Unsubscribe",
                "sns:SetSubscriptionAttributes",
                "sns:Publish"
            ],
            "Resource": [
                "arn:aws:sns:${aws_region}:${account_id}:*-da-eventbus"
            ]
        },
        {
            "Sid": "SQSAccess",
            "Effect": "Allow",
            "Action": [
                "sqs:CreateQueue",
                "sqs:PurgeQueue",
                "sqs:DeleteMessage",
                "sqs:DeleteQueue",
                "sqs:ReceiveMessage",
                "sqs:SetQueueAttributes"
            ],
            "Resource": [
                "arn:aws:sqs:${aws_region}:${account_id}:*-temp-out-testing"
            ]
        },
        {
            "Sid": "S3Access",
            "Effect": "Allow",
            "Action": [
                "s3:PutObject",
                "s3:DeleteObject"
            ],
            "Resource": [
                "arn:aws:s3:::da-transform-sample-data",
                "arn:aws:s3:::da-transform-sample-data/*"
            ]
        }
    ]
}
