{
    "Version": "2012-10-17",
    "Statement": [

        {
            "Sid": "PermissionsBoundary",
            "Effect": "Allow",
            "Action": [
                "states:*",
                "lambda:*",
                "s3:*",
                "sns:*",
                "sqs:*",
                "logs:*",
                "kms:*"
            ],
            "Resource": "*"
        }
    ]
}
