{
    "Version": "2012-10-17",
    "Statement": [
        
        {
            "Sid": "PermissionsBoundary",
            "Effect": "Allow",
            "Action": [
                "lambda:*",
                "s3:*",
                "logs:*"
            ],
            "Resource": "*"
        }
    ]
}
